<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>TEMPERATŪRA puslapis</h1>

<ul>
	<li>Dabartinė informacija: {{miestas}}</li>
	<li>Artimiausios prognozės laikas: {{laikas}}</li>
    <li>Temperatūra: {{temperatura}} &#8451;</li>
    <li>Vėjas: {{vejas}} m/s</li>
    <li>Vėjo gūsiai: {{vejo_gusiai}} m/s</li>
    <li>Vėjo kryptis: {{vejo_kryptis}}</li>
    <li>Debesuotumas: {{debesuotumas}} %</li>
    <li>Slėgis: {{slegis}} hPa</li>
    <li>Kritulių kiekis: {{krituliu_kiekis}} mm</li>
    <li>Oro sąlygos: {{oro_salygos}}</li>
</ul>



<p>Informacija: </p>


</body>
</html>
<head>

